h2 {
  color: #8B7969;
  font-family: 'Inika', serif;
  font-weight: 400;
  font-size: 35px;
  text-align: center;
}

.admin__content {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 80%;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th {
  background-color: #8B7969;
  color: #fff;
  padding: 12px;
  text-align: left;
  font-weight: normal;
}

.data-table td {
  padding: 12px;
  border-bottom: 1px solid #E0DFDE;
}

.form__group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form__group-content {
  width: 70%;
}

.gender_input {
  margin-top: 30px;
  text-align: center;
  width: 10%;
  height: 46px;
  background-color: #F4F4F4;
  border: 1px solid #E3DED9;
  color: #8B7969;
  font-family: "Inika", serif;
  font-weight: 400;
  size: 17px;
}

.select_box
{
    margin-top: 30px;
    text-align: center;
    width: 20%;
    height: 46px;
    background-color: #F4F4F4;
    border: 1px solid #E3DED9;
    color: #8B7969;
    font-family: "Inika", serif;
    font-weight: 400;
    size: 17px;
  }

.date_input {
  margin-top: 30px;
  text-align: center;
  width: 20%;
  height: 46px;
  background-color: #F4F4F4;
  border: 1px solid #E3DED9;
  color: #8B7969;
  font-family: "Inika", serif;
  font-weight: 400;
  size: 17px;
}

.form__input--text  input {
    padding: 10px;
    width: 60%;
    height: 38px;
    border: 1px solid #F4F4F4;
    background-color: #F4F4F4;
    border-radius: 3px;
    padding: 20px;

    appearance: none;
  }

  .form__select--input {
    padding: 10px;
    width: 60%;
    height: 38px;
    border: 1px solid #F4F4F4;
    background-color: #E3DED9;
    color: #8B7969;
    border-radius: 3px;
    padding: 20px;

    appearance: none;
  }

  .btn-search {
    background-color: #8B7969;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: "Inika", serif;
    font-weight: 400;
    font-size: 17px;
  }

  .btn-reset {
    background-color: #D9C6B5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: "Inika", serif;
    font-weight: 400;
    font-size: 17px;
  }

  .btn-export {
    background-color: #E1DBD699;
    color: #8B7969;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: "Inika", serif;
    font-weight: 400;
    font-size: 17px;
  }

  .header__button {
    margin-left: auto;
    width: 100px;
    height: 34px;
    color: #D9C6B5;
    background: #F0F0F099;
    border: 1px solid #D9C6B5;
    font-family: "Inika", serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-decoration: none;
  }

svg.w-5.h-5 {
  /*paginateメソッドの矢印の大きさ調整のために追加*/
  width: 30px;
  height: 30px;
}

/* モーダルの基本スタイル */
.modal {
  display: none;
  /* 初期状態では非表示 */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

/* :target でモーダルを表示 */
.modal:target {
  display: flex;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  max-width: 500px;
  text-align: center;
  position: relative;
}

.close-btn {
  background: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 10px;
  right: 15px;
}

.modal-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.modal-table th,
.modal-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.modal-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.delete-btn {
  background: red;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 5px;
}