.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 0 auto;
  padding: 20px 15px;
  max-width: 1230px;
  position: relative;
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #8B7969;
  font-family: 'Inika', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52.12px;
  text-decoration: none;
}

.header__logo {
  color: #8B7969;
  font-family: 'Inika', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52.12px;
  text-decoration: none;
}

.nav__button {
  background: #8B7969;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-family: 'Inika', serif;
}

.header__register {
  margin-left: auto;
  width: 100px;
  height: 34px;
  color: #D9C6B5;
  background: #F0F0F099;
  border: 1px solid #D9C6B5;
  font-family: 'Inika', serif;
  font-weight: 400;
  font-size: 20px;
}