h2 {
  color: #8B7969;
  font-family: 'Inika', serif;
  font-weight: 400;
  font-size: 35px;
}

.confirm__content {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 80%;
}

.confirm__heading {
  margin-bottom: 40px;
  text-align: center;
}

.form {
  margin: 0 auto;
  width: 70%;
}

.confirm-table {
  border: 1px solid #E0DFDE;
}

.confirm-table__inner {
  width: 100%;
}

.confirm-table__header {
  padding: 15px;
  width: 250px;
  border-bottom: 1px solid #E0DFDE;
  background-color: #BAA899;
  color: #fff;
  font-family: 'Inika', serif;
}

.confirm-table__text {
  padding: 15px;
  border-bottom: 1px solid #8B7969;
}

.confirm-table__text input {
  width: 100%;
  outline: none;
  border: none;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
  border-bottom-width: 0;
}

.form__button {
  margin-top: 30px;
  text-align: center;
}

.form__button-submit {
  width: 120px;
  height: 42px;
  background-color: #5d4b3d;
  color: #fff;
}

.form__button-return {
  display: inline-block;
  padding: 12px 40px;
  background-color: white;
  color: #766356;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.name-input {
  display: inline-block;
  align-items: center;
  width: calc(50% - 10px);
  /* 各入力フィールドの幅を調整 */
  margin-right: 10px;
}

.name-input:last-child {
  margin-right: 0;
  /* 最後の入力フィールドの右側の空白を削除 */
}