h1 {
  color: #8B7969;
  font-family: 'Inika', serif;
  font-weight: 400;
  font-size: 35px;
}

.contact-form__content {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 1230px;
}

.contact-form__heading {
  margin-bottom: 40px;
  text-align: center;
}

.form {
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.form__group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form__label--required {
  margin-left: 5px;
  padding: 4px 6px;
  border-radius: 3px;
  background: #fafafa;
  color: red;
}

.form__error {
  height: 20px;
  color: #ff0000;
  text-align: left;
}

.form__input--text input,
.form__input--name input,
.form__input--textarea textarea {
  padding: 10px;
  width: 618.82px;
  height: 38px;
  border: 1px solid #F4F4F4;
  background-color: #F4F4F4;
  border-radius: 3px;

  appearance: none;
}

.form__input--text input {
  height: 40px;
}

.form__input--name input {
  height: 38px;
  width: 287.15px;
}

.form__input--textarea textarea {
  height: 180px;
}

.form__button {
  margin-top: 30px;
}

.form__button-submit {
  width: 160px;
  height: 46px;
  background-color: #5d4b3d;
  color: #fff;
}
